<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GestionBancaireWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CalculServlet</display-name>
    <servlet-name>CalculServlet</servlet-name>
    <servlet-class>tn.enis.control.CalculServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculServlet</servlet-name>
    <url-pattern>/CalculServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjoutCBServlet</display-name>
    <servlet-name>AjoutCBServlet</servlet-name>
    <servlet-class>tn.enis.control.AjoutCBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutCBServlet</servlet-name>
    <url-pattern>/AjoutCBServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepotArgentServlet</display-name>
    <servlet-name>DepotArgentServlet</servlet-name>
    <servlet-class>tn.enis.control.DepotArgentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepotArgentServlet</servlet-name>
    <url-pattern>/DepotArgentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailCompteListe</display-name>
    <servlet-name>DetailCompteListe</servlet-name>
    <servlet-class>tn.enis.control.DetailCompteListe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailCompteListe</servlet-name>
    <url-pattern>/DetailCompteListe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetraitArgent</display-name>
    <servlet-name>RetraitArgent</servlet-name>
    <servlet-class>tn.enis.control.RetraitArgent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetraitArgent</servlet-name>
    <url-pattern>/RetraitArgent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetraitArgentServlet</display-name>
    <servlet-name>RetraitArgentServlet</servlet-name>
    <servlet-class>tn.enis.control.RetraitArgentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetraitArgentServlet</servlet-name>
    <url-pattern>/RetraitArgentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuppCompteServlet</display-name>
    <servlet-name>SuppCompteServlet</servlet-name>
    <servlet-class>tn.enis.control.SuppCompteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuppCompteServlet</servlet-name>
    <url-pattern>/SuppCompteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjoutClientServlet</display-name>
    <servlet-name>AjoutClientServlet</servlet-name>
    <servlet-class>tn.enis.control.AjoutClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutClientServlet</servlet-name>
    <url-pattern>/AjoutClientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifClientServlet</display-name>
    <servlet-name>ModifClientServlet</servlet-name>
    <servlet-class>tn.enis.control.ModifClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifClientServlet</servlet-name>
    <url-pattern>/ModifClientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListerClients</display-name>
    <servlet-name>ListerClients</servlet-name>
    <servlet-class>tn.enis.control.ListerClients</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListerClients</servlet-name>
    <url-pattern>/ListerClients</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignInServlet</display-name>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class>tn.enis.control.SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/SignInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChercherClientServlet</display-name>
    <servlet-name>ChercherClientServlet</servlet-name>
    <servlet-class>tn.enis.control.ChercherClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChercherClientServlet</servlet-name>
    <url-pattern>/ChercherClientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuppClientServlet</display-name>
    <servlet-name>SuppClientServlet</servlet-name>
    <servlet-class>tn.enis.control.SuppClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuppClientServlet</servlet-name>
    <url-pattern>/SuppClientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransfArgentServlet</display-name>
    <servlet-name>TransfArgentServlet</servlet-name>
    <servlet-class>tn.enis.control.TransfArgentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransfArgentServlet</servlet-name>
    <url-pattern>/TransfArgentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>tn.enis.control.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
</web-app>